# ==========================================
# Ambiente Virtual e Executáveis
# ==========================================
venv/
duckdb.exe

# ==========================================
# Banco de Dados Físico e Dados Locais
# ==========================================
*.db
*.db.wal

# Ignora os arquivos de dados locais, mas preserva a estrutura de pastas
dados/landing/*
dados/staging/*
!dados/landing/.gitkeep
!dados/staging/.gitkeep

# ==========================================
# Arquivos Específicos do dbt (Adicionado)
# ==========================================
# Ignora as pastas de compilação, logs e pacotes do dbt
target/
logs/
dbt_packages/

# ==========================================
# Arquivos e logs locais do Metabase
# ==========================================
# Bloqueia os arquivos de banco internos do Metabase e logs
metabase/metabase.db.*
metabase/log/
*.log

# Ignora os binários e drivers do Metabase
metabase/metabase.jar
metabase/plugins/duckdb.metabase-driver.jar

# ==========================================
# Arquivos do Sistema Operacional
# ==========================================
Thumbs.db
.DS_Store